/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */
/* #region common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.social-icon {
  fill: #f4f4fd;
  height: 16px;
  width: 16px;
}
/* #endregion common */

/* #region header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .main-logo {
    padding: 24px 0;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}
.main-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 768px) {
  .main-logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .main-logo {
    margin-right: 76px;
  }
}

.text-navy {
  color: #2e2f42;
}
.nav-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .nav-item {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .nav-item.current {
    position: relative;
    color: #404bbf;
  }
}
@media screen and (min-width: 768px) {
  .nav-item.current::before {
    content: "";

    position: absolute;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }
}
.list-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .list-contacts {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .list-contacts {
    font-style: normal;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .contacts:hover,
  .contacts:focus,
  .nav-item:hover,
  .nav-item:focus {
    color: #404bbf;
  }
}
.button-burger {
  fill: #2f2f37;
  padding: 16px 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
}
/* #endregion header */

/* #region hero */
.section-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/baner/banner-mobi.jpg");
  background-repeat: no-repeat;
  max-width: 320px;
  min-height: 432px;
  padding: 72px 0;
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media screen and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/baner/baner@2x-mobi.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    min-height: 436px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/baner/banner-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/baner/banner@2x-tablet.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    max-width: 1440px;
    min-height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/baner/banner-desktop.jpg");
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/baner/banner@2x-desktop.jpg");
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 216px;
  margin: 0 auto 72px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    line-height: 1.07;
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36;
  }
}
@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48;
  }
}
.button-order {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
}
@media screen and (min-width: 1158px) {
  .button-order {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .button-order:hover,
  .button-order:focus {
    background-color: #404bbf;
  }
}
/* #endregion hero */

/* #region features*/

.section-features {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .section-features {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
.container-features-icon {
  display: none;
}
@media screen and (min-width: 1158px) {
  .container-features-icon {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    min-height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-title {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1158px) {
  .features-text {
    font-weight: 500;
  }
}
/* #endregion features*/

/* #region our team */
.section-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
@media screen and (min-width: 768px) {
  .section-team {
    padding: 120px 0;
  }
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }
}

.team-items {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}
@media screen and (min-width: 1158px) {
  .team-items {
    flex-basis: calc((100% - 72px) / 4);
  }
}
.team-descr {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.sosial-list-team {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.sosial-link-team {
  display: flex;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1158px) {
  .sosial-link-team {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .sosial-link-team:hover,
  .sosial-link-team:focus {
    background-color: #404bbf;
  }
}
/* #endregion our team */

/* #region portfolio*/
.section-portfolio {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
}
.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}
@media screen and (min-width: 1158px) {
}
@media screen and (min-width: 768px) {
  .list-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 48px;
  }
}
.item-portfolio {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-portfolio {
  position: relative;
  overflow: hidden;
}
.item-portfolio:hover,
.item-portfolio:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.item-portfolio:hover .text-overlay,
.item-portfolio:active .text-overlay {
  transform: translateY(0);
}

.text-overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-descr {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.project-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion portfolio*/

/* #region footer */
.container-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.content-footer {
  display: flex;
  align-items: baseline;
}
.descr-footer {
  margin-right: 120px;
}
.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.text-white {
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  min-width: 264px;
  height: 112px;
}
.social-media {
  margin-right: 80px;
}
.title-social {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  gap: 16px;
  align-items: baseline;
}
.sosial-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sosial-link:hover,
.sosial-link:focus {
  background-color: #31d0aa;
}
.email-form-footer {
  display: flex;
  gap: 24px;
}

.text-form-footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
}
.email-field-footer {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  min-width: 264px;
  height: 40px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.email-field-footer::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  height: 40px;
  min-width: 165px;
  cursor: pointer;
  fill: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  border: none;
  border-radius: 4px;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  margin-left: 16px;
}

.button-subscribe:focus,
.button-subscribe:hover {
  background-color: #404bbf;
}
/* #endregion footer */

/* #region popup */
.backdrop {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-popup:hover,
.close-popup:focus {
  border: none;
  background-color: #404bbf;
}
.popup-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-popup:hover .popup-icon-close,
.close-popup:focus .popup-icon-close {
  fill: #fff;
}
.text-recall {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.wrapper-input-popup {
  margin-bottom: 8px;
}
.user-label-field {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.user-input {
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  width: 100%;
  height: 40px;
}
.user-input:focus {
  border-color: #4d5ae5;
}
.svg-input-wrapper {
  position: relative;
}
.popup-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-input:focus + .popup-icon {
  fill: #4d5ae5;
}
.wrapper-input-comment {
  margin-bottom: 16px;
}
.comment-texarea {
  width: 100%;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.comment-texarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.comment-texarea:focus {
  border-color: #4d5ae5;
}
.wrapper-input-checkbox {
  margin-bottom: 24px;
}
.agree-label-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-agree:checked + .agree-label-field > .custom-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}
.text-iris {
  color: #4d5ae5;
  text-decoration: underline;
  cursor: pointer;
}
.recall-form-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.recall-form-button:focus,
.recall-form-button:hover {
  background-color: #404bbf;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}
/* #endregion popup */
